

<% @users.each do |user| %>
    <% if user.id != current_user.id %>
        <%= image_tag(user.avatar.url , class: "avatar") if user.avatar? %>

        <div>
            
                <div class="item">
                    <%= user.firstname %> <%= link_to 'Chat', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                </div>
                <%= link_to "About He", user_path(user) %>
                
        </div>
    <% end %>

<%end%>

<form action="/mens" method="get">
    Preference
    <br>
    <input type="radio" id="preference" name="[preference]" value="Men">Men<br>
    <input type="radio" id="preference" name="[preference]" value="Lady" checked>Lady<br>

    Ages from: <input id="min_age" name="[min_age]" value="18" type="text" class="gteq" />
    to <input id="max_age" name="[max_age]" value="80" type="text" class="gteq" />

    <input class="button" type="submit" value="Filter" />
    
</form>

<%= will_paginate @users %>
<br>
