<div class="profile-page edit">
    <h2>Edit Profile Page</h2>
    
    <%= form_for :user, url: update_profile_user_path, :method => :put do |f| %>
    
    <%= image_tag(@user.avatar.url , class: "avatar") if @user.avatar? %>
    
      <%= field_set_tag do %>
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
      <% end %>

    
      <%= field_set_tag do %>
        <%= f.label :username %>
        <%= f.text_field :username %>
      <% end %>
    
      <%= field_set_tag do %>
        <%= f.label :age %>
        <%= f.text_field :age %>
      <% end %>
      


      <%= field_set_tag do %>
        <%= f.label :avatar %>
        <%= f.file_field(:avatar, accept: 'image/png,image/gif.image/jpeg') %>
      <% end %>
    
    
      <%= submit_tag "Update" %>
    
    <% end %>
    </div> 
    