<% @users.each do |user| %>
<% if user.id != current_user.id %>
    <%= image_tag(user.avatar.url , class: "avatar") if user.avatar? %>
    <%= user.username%>

    <div>
            <% if !Relationship.between(current_user.id, user.id).present?%>
                <div class="item">
                    <%= link_to 'Send Solicitud', relationships_path(sender_id: current_user.id, recive_id: user.id), method: 'post'%>
                </div>
                <%end%>
                <%= link_to "About She", user_path(user) %>
                
    </div>
<% end %>

<%end%>


<form action="/ladys" method="get">
    Preference
    <br>
    <input type="radio" id="preference" name="[preference]" value="Men" checked>Men<br>
    <input type="radio" id="preference" name="[preference]" value="Lady">Lady<br>

    Ages from: <input id="min_age" name="[min_age]" value="18" type="text" class="gteq" />
    to <input id="max_age" name="[max_age]" value="80" type="text" class="gteq" />

    <input class="button" type="submit" value="Filter" />
    
</form>

<%= will_paginate @users %>
<br>
