<!DOCTYPE html>
<html>
  <head>
    <title>TestRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    body {
      background-image: url("imagesPAREJAS1.jpg");
    }
  </style>
  <body>
    
      <nav>
        <h1 id="main-logo">We Got Singles</h1>
        <ul>
          <li> <%= link_to 'Home', articles_path %></li>
          <%if user_signed_in?%>
            <li><%= link_to 'View Profile', me_user_path %></li>
            <li><%= link_to 'Edit Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>         
          <%else%>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <%end%>
        </ul>
      </nav>
    
      <div class='notice-parent'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <main>
        <%= yield %>
      </main>
    
  </body>
</html>
